.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience {
  min-width: 50%;
  max-width: 50%;
  position: relative;
  margin-top: 50px;
  padding: 25px 25px 25px 25px;
  border-radius: 15px 15px 15px 15px;
  border: 2px solid black;
  display: flex;
}

.description {
  flex: 4;
}
.logo {
  flex: 1;
  margin-left: 20px;
  width: 140px;
  height: 150px;
  border-radius: 15px 15px 15px 15px;
}

.logo:hover {
  filter: brightness(80%);
}
